.dates_display {
	text-align: center;
	font-size: 1.25em;
	padding: 1em;
}

.percentToGoal {
	text-align: center;
	display: block;
	margin: auto;
	font-size: 1.25em;
}

.actions_tab {
	position: relative;
	text-align: right;
}

.settings {
	height: 2em;
	padding: 1em;
	cursor: pointer;
}

.settings_dropdown {
	list-style: none;
    padding-left: 0;
	background-color: #ddd;
	position: absolute;
	top: 2em;
	right: 1em;
	display: none;
}

.settings_dropdown li {
	position: relative;
	padding: 0.5em;
	padding-left: 3em;
}

.settings_dropdown li[data-href] {
	cursor: pointer;
}

.settings_dropdown li[data-href]:hover {
	background-color: #eee;
}

.settings_dropdown[data-active="true"] {
	display: block;
}

a.add_run {
	font-size: 1.25em;
	right: 4em;
    bottom: 1.3em;
    position: absolute;
}

.container {
	width: 15em;
	margin: auto;
	text-align: center;
	margin-top: 1em;
}

.notifications {
	top: 2.75em;
    font-weight: bold;
    color: white;
    right: 0.5em;
    background-color: #00B7FF;
    padding: 0.25em;
    border-radius: 0.25em;
    position: absolute;
    font-size: 0.75em;
    cursor: pointer;
}

li .notifications {
	top: -0.15em;
    position: relative;
    right: 0;
}